@import 'constants';

body {
	display: flex;
}

#sidebar {
	display: flex;
	flex-direction: column;
	margin: 0px;
	padding: 20px;
	background-color: $primary-color;
}

.article {
	min-height: 100vh;
	flex: 1;
}

@media screen and (min-width: 320px) {
	body {
		flex-direction: column-reverse;
	}
	
	#sidebar {
		align-items: center;
		width: 100%;

		p {
			text-align: center;
		}
	}
}

@media screen and (min-width: 720px) {
	body {
		flex-direction: row-reverse;
	}

	#sidebar {
		width: 280px;
		align-items: flex-start;

		p {
			text-align: left;
		}
	}
}
