@import 'constants';

h1, h2, h3, h4, h5, h6, div#toctitle {
	color: $secondary-color !important;
}

h1 > a {
	all: inherit;

	&:hover {
		color: inherit;
		text-decoration: underline;
	}
}

h2 > a {
	all: inherit;

	&:hover {
		color: inherit;
		text-decoration: underline;
	}
}
